body {
    font-family: Arial, Helvetica, sans-serif;
    background: #0D0F12;
    color:white;
    overflow: hidden;
}

#wrapper {
    display: flex;
    flex-direction: row;
}

#left {
    display: flex;
    flex-direction: column;
    flex: 5;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#right {
    flex: 7;
}

#signin {
    display: flex;
    flex-direction: column;
    width: 90%;
    padding-bottom: 1rem;
    justify-content: center;
    align-items: center;

}

#signin form {
    width: 80%;
    padding-bottom: 3rem;
}

#signin .logo {
    margin-bottom: 2vh;
}

#signin .logo img {
    width: 300px;
}

#signin label {
    font-size: 0.9rem;
    line-height: 2rem;
}

#signin .text-input {
    margin-bottom: 1.3rem;
    width: 100%;
    border-radius: 2px;
    background: #181818;
    border: 1px solid #555;
    color: #ccc;
    padding: 0.5rem 1rem;
    line-height: 1.3rem;
}

#showcase {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('https://image.ibb.co/cO9Lxq/login-bg.jpg');
    height: 100vh;
    text-align: center;
}

#showcase .showcase-text {
  font-size: 3rem;
  width: 100%;
  color: #fff;
  margin-bottom: 1.5rem;
}

#showcase .secondary-btn {
  width: 60%;
}

#signin .primary-btn {
    width: 100%;
}

#signin #links a {
    display: block;
    color: #0074AB;
    text-decoration: none;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 0.9rem;
}

#signin .hr-bar .bar {
    flex: auto;
    border: none;
    height: 1px;
    background: #aaa;
    width: 220px;
}



.primary-btn {
    padding: 0.6rem 1rem;
    height: 2.5rem;
    display: block;
    border: 0;
    border-radius: 2px;
    font-weight: 500;
    background: #0074AB;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
}

.secondary-btn {
    
    padding: 0.5rem 1rem;
    width: 80%;
    height: 2.2rem;
    display: block;
    border-radius: 2px;
    font-weight: 500;
    background: rgb(90, 90, 90);
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
}
#main-footer {
    color: #ccc;
    text-align: center;
    font-size: 0.7rem;
    max-width: 80%;
    padding-top: 5rem;
}

#main-footer a {
    color: #ccc;
    text-decoration: underline;
}